aiohttp
adrest>=3.3.2
aexpect>=1.6.4
argh>=0.28.1
attr>=0.3.2
attrs>=22.2.0
augeas>=0
autobahn_rce>=0.6.0.5
automat>=22.10.0
avro>=1.11.1
bitstring>=4.0.1
boto3>=1.26.79
botocore>=1.29.79
can>=0.0.0
cbor>=1.0.0
click>=8.0.3
colorzero>=2.0
constantly>=15.1.0
crossbar>=22.6.1
cryptography>=3.4.8
dbus_next>=0.2.3
distro>=1.7.0
Django>=4.1.7
Flask>=2.2.3
flask_expects_json>=1.7.0
gitdb>=4.0.10
GitPython>=3.1.31
gnupg>=2.3.1
gpiozero>=1.6.2
ijson>=3.2.0.post0
incremental>=22.10.0
nacl>=0.0.0
passlib>=1.7.4
pexpect>=4.8.0
PyGObject>=3.42.1
PyNaCl>=1.5.0
pytest>=7.2.1
PyYAML>=6.0
requests>=2.25.1
rsa>=4.9
service_identity>=21.1.0
smmap>=5.0.0
treq>=22.2.0
Twisted>=22.10.0
txaio>=23.1.1
txtorcon>=23.0.0
xmlrunner>=1.7.7